<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
          <name>isValidation</name>
          <description>是否开启采集过滤</description>
          <quoteValue>false</quoteValue>
          <type>PT_SINGLE_SELECT</type>
          <value>true,false</value>
          <propertyFile>/home/aiuap30/gather30/ap_gather_server_tcp-xml/initconfig/isValidation.conf</propertyFile>
          <propertyKey>isValidation</propertyKey>
          <defaultPropertyFile></defaultPropertyFile>
          <defaultPropertyKey></defaultPropertyKey>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>