<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>con</name>
          <description></description>
          <defaultValue>哈哈</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>h</name>
          <description></description>
          <defaultValue>ai\rensy</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>ew</name>
          <description></description>
          <defaultValue>dfg</defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#echo 哈哈哈 &gt;rensytest 
#iconv -f gb2312 -t UTF-8 -c rensytest -o rensytest1 &amp;&amp; rm -f rensytest &amp;&amp; cat rensytest1 &amp;&amp; rm -f rensytest1
#echo $h
#cd ~
#java -jar jenkins-cli.jar -s http://10.1.198.53:9081/jenkins/ update-job a &lt;/home/aiuap/.jenkins/jobs/a/config.xml
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.16">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>HTML Report</reportName>
          <reportDir>../../../rensy/hhh</reportDir>
          <reportFiles>hhh.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <reportTitles></reportTitles>
          <keepAll>false</keepAll>
          <allowMissing>false</allowMissing>
          <includes>**/*</includes>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
  </publishers>
  <buildWrappers/>
</project>