<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>VER</name>
          <description>大版本</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>aisiav04r08c00_20190804</string>
              <string>aisiav04r07c00_20181218</string>
              <string>aisiav04r06c00_20181017</string>
              <string>aisiav04r05c02_20180820</string>
              <string>aisiav04r05c01_20180725</string>
              <string>aisiav04r05c00_20180627</string>
              <string>aisiav04r04c03_20180531</string>
              <string>aisiav04r04c02_20180509</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERNO</name>
          <description>svn提交流水号</description>
          <defaultValue>LATEST</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sh /home/aiuap/autobuild/patch/check.sh ${VER} ${VERNO}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>