<?xml version='1.1' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.15.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.7.2">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://10.1.198.30/svn/UAPPROGRAM/products/ailkiap30/program/data-reporting</remote>
        <credentialsId>401091b0-46d0-4167-9a4e-7a051c9a6bc2</credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>true</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.asiainfo-4a-audit</groupId>
    <artifactId>data-reporting</artifactId>
  </rootModule>
  <goals>test</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <hudson.plugins.jacoco.JacocoPublisher plugin="jacoco@3.0.1">
      <healthReports>
        <minClass>0</minClass>
        <maxClass>0</maxClass>
        <minMethod>0</minMethod>
        <maxMethod>0</maxMethod>
        <minLine>0</minLine>
        <maxLine>0</maxLine>
        <minBranch>0</minBranch>
        <maxBranch>0</maxBranch>
        <minInstruction>0</minInstruction>
        <maxInstruction>0</maxInstruction>
        <minComplexity>0</minComplexity>
        <maxComplexity>0</maxComplexity>
      </healthReports>
      <deltaHealthReport>
        <deltaInstruction>0.0</deltaInstruction>
        <deltaBranch>0.0</deltaBranch>
        <deltaComplexity>0.0</deltaComplexity>
        <deltaLine>0.0</deltaLine>
        <deltaMethod>0.0</deltaMethod>
        <deltaClass>0.0</deltaClass>
      </deltaHealthReport>
      <execPattern>**/**.exec</execPattern>
      <classPattern>**/classes</classPattern>
      <sourcePattern>**/src/main/java</sourcePattern>
      <inclusionPattern></inclusionPattern>
      <exclusionPattern></exclusionPattern>
      <skipCopyOfSrcFiles>false</skipCopyOfSrcFiles>
      <minimumInstructionCoverage>0</minimumInstructionCoverage>
      <minimumBranchCoverage>0</minimumBranchCoverage>
      <minimumComplexityCoverage>0</minimumComplexityCoverage>
      <minimumLineCoverage>0</minimumLineCoverage>
      <minimumMethodCoverage>0</minimumMethodCoverage>
      <minimumClassCoverage>0</minimumClassCoverage>
      <maximumInstructionCoverage>0</maximumInstructionCoverage>
      <maximumBranchCoverage>0</maximumBranchCoverage>
      <maximumComplexityCoverage>0</maximumComplexityCoverage>
      <maximumLineCoverage>0</maximumLineCoverage>
      <maximumMethodCoverage>0</maximumMethodCoverage>
      <maximumClassCoverage>0</maximumClassCoverage>
      <changeBuildStatus>false</changeBuildStatus>
      <deltaInstructionCoverage>0</deltaInstructionCoverage>
      <deltaBranchCoverage>0</deltaBranchCoverage>
      <deltaComplexityCoverage>0</deltaComplexityCoverage>
      <deltaLineCoverage>0</deltaLineCoverage>
      <deltaMethodCoverage>0</deltaMethodCoverage>
      <deltaClassCoverage>0</deltaClassCoverage>
      <buildOverBuild>false</buildOverBuild>
    </hudson.plugins.jacoco.JacocoPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>rensy@asiainfo-sec.com,zhangjy11@asiainfo-sec.com,lusm@asiainfo-sec.com,yutong3@asiainfo-sec.com,tanrq@asiainfo-sec.com,wangsz@asiainfo-sec.com,wangyb@asiainfo-sec.com,hejt@asiainfo-sec.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>both</contentType>
      <defaultSubject>SSSIA数据上报服务单元测试</defaultSubject>
      <defaultContent>(本邮件是程序自动下发的，请勿回复！)&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;变更集:&lt;/strong&gt;${JELLY_SCRIPT,template=&quot;html&quot;}&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;单元测试报告：&lt;/strong&gt;&lt;a href=&quot;${BUILD_URL}testReport&quot;&gt;测试报告情况&lt;/a&gt;&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;单元测试覆盖度报告：&lt;/strong&gt;&lt;a href=&quot;${BUILD_URL}jacoco&quot;&gt;代码覆盖率情况&lt;/a&gt;&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;构建日志地址：&lt;/strong&gt;&lt;a href=&quot;${BUILD_URL}console&quot;&gt;${BUILD_URL}console&lt;/a&gt;&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;构建地址：&lt;/strong&gt;&lt;a href=&quot;$BUILD_URL&quot;&gt;$BUILD_URL&lt;/a&gt;&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;项目名称：&lt;/strong&gt;$PROJECT_NAME&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;构建编号：&lt;/strong&gt;$BUILD_NUMBER&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;构建状态：&lt;/strong&gt;$BUILD_STATUS&lt;br/&gt;&lt;hr/&gt;
&lt;strong&gt;触发原因：&lt;/strong&gt;${CAUSE}&lt;br/&gt;&lt;hr/&gt;
</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>